
body{
    background-color: #6f6f6f;
    font-size:2rem;
    display:flex;
    flex-flow:column nowrap;
    font-family: system-ui;
}
a{
    font-size: inherit;
    color:rgb(161, 175, 228);
}
a:visited{
    color:rgb(139, 74, 135);
}
span{
font-size: inherit;
margin-block:0.5rem;
height:inherit;
}

pre>*,
pre>*>*{
    font-size: 0.80rem !important;
    height: inherit;
}
ol{
    list-style-position: 
    inside;
    padding-left: 2rem;
    font-size: inherit;

}
ul{
    list-style-position: 
    inside;
    padding-left: 2rem;
    font-size: inherit;

}

ul>li{
    color:rgb(223, 223, 194);
    text-align: left;
    padding-left: 1rem;
    font-size: inherit;

}
ol>li{
    text-align: left;
    padding-left: 1rem;
    font-size: inherit;

}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}
.cli{
    color:#aa0000;
}
.cli-option{
    color:#ff6f00;
}
.cli-option-long{
    color:#ff4499
}
.cli-object{
    color:#ca7922;
}
.bracket{
    color:#ffffff;
}
.boolean{
    color:#9953e0;
}

.action{
    color: #75fdf2;
}
.description{
    color: #dddd0d;
}
.indicator{
    background-color:#fa00a0;
    color:#000000;
}
.section_break{
    text-align: center;
    color:ff7f3f;
}
.code{
    color:#6a9a6a;
    background-color:#4f4f4f; 
    width:100%; 
    font-size:65%; 
    white-space: pre-wrap;
    word-wrap: break-word;
}
.code>span{
    color:#afafd0;
}
.bubble{
    border:solid;
    padding:3; 
    border-radius:35px; 
    width:fit-content;
    min-width:20vw !important;
    max-width:85vw;
    border:solid black;
    margin-top:.7rem !important;
    padding: 0.2rem !important;
    padding-top:0.1rem !important;
}
.bubble_label{
    color:black;
    font-size:.85rem; 
    padding-left:25;
    padding-right:25;
}
.narrator{
    text-align:left;
    margin: 0 auto 0 0;
    }
.speech{
    padding:0rem;    
    color:#fafafa;
    background-color: #248bc5;
}
.speech2{
    padding:0rem;    
    background-color:#b5b5ba;
    color:#000070;
}
.thought{
    padding:0rem;    
    background-color: #af80af;
    color:#000070;
}
.thought2{
    padding:0rem;    
    background-color: #b58782;
    color:#000070;
}
.other{
    padding:0rem;    
    text-align:right; 
    margin: 0 0 0 auto;
}
.block{
    background-color:inherit;
    width:90vw;
    display:flex;
    flex-flow:column nowrap;
    align-items:start;
    margin:auto 0 auto 0;
    align-self:center; 
    max-width: 100rem;
    font-size: 1.2rem;
}
.cursor {
    animation: 2s linear infinite b;
  }
  
  @keyframes b {
    0% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
  

  @keyframes swirl {
    0% {
      transform: scale(100%) rotateX(-120deg) rotateY(-200deg);
    }
    50%{
        transform: scale(200%) rotateX(0deg) rotateY(0deg);
    }
    100% {
      transform: scale(200%) rotateX(-120deg) rotateY(740deg);
    }
  }
.animate-target{

}
@keyframes opacity_see {
    0% {
        opacity: 0%;
    }
    100% {
        opacity:60%;
    }
  }


.animate{
    display:inline-flex;
    float:left;
    position:relative;
    top:0;
    bottom:0;
    height:40rem;
    width: 100%;
    animation:  4s linear infinite swirl,   
                2s  ease-in 1 opacity_see;
}