.actionword{
    background-color: #ff0000;
}
.descriptword{
    background-color: #00ffdd;

}
.spokenword{
    background-color: #d0ff00;
    color:#d0ff00;

}
.dataword{
    background-color: #1900ff;

}
.thoughtword{
    background-color: #15ff00;

}
.cursor {
    animation: 2s linear infinite b;
  }
  
  @keyframes b {
    0% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
  